html, body {
    min-width: 99%;
    min-height: 95%;
    color: #fff;
    background-color: black;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    overflow-y: hidden;
}

.container {
    max-width: 1840px;
    margin: 25px 40px;
    display: flex;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 100%;
    column-gap: 40px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #132226;
}

.navbar-link {
    font-family: 'League Spartan', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    align-self: center;
}

body a:hover {
    color: lightslategray;
}

.navbar-brand {
    display: flex;
    column-gap: 10px;
    margin: 10px;
    width: 15%;
}

.navbar-brand a {
    margin: 0;
    padding: 0;
    font-family: 'Jim Nightshade', cursive;
    color: white;
    text-decoration: none;
    font-size: 50px;
    align-self: center;
}

.navbar-brand img {
    margin-left: 10px;
    align-self: center;
    width: 65px;
    height: 65px;
}

.searchbar {
    align-self: center;
    margin: 20px;
    width: 49%;
    height: 40px;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    border-radius: 15px;
}

.user-image {
    display: flex-end;
    width: 65px;
    height: 65px;
    border: 1px solid white;
    border-radius: 50px;
    align-self: center;
    margin: 10px;
    margin-right: 20px;
}

.toolbar {
    display: grid;
    min-width: 15vw;
    min-height: 84vh;
    height: 84vh;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #132226;
}

.spacer {
    min-height: 38vh;
}

.toolbar-image {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 10px auto;
}

.toolbar a {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 10px auto;
}

.toolbar-button {
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    height: 43px;
    display: inline-block;
    margin: 10px 20px;
    background-color: #132226;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    align-items: center;
    font-weight: 400;
}

.toolbar-button:hover {
    background-color: black;
}

.logout-button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    height: 43px;
    margin: 10px 20px;
    background-color: black;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.logout-button:hover {
    background-color: lightslategray;
}

.button-image {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 5px;
}

.content {
    display: flex;
    min-height: 84vh;
    height: 84vh;
    width: 83%;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #132226;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;

}

.options {
    padding: 0;
    align-self: flex-end;
    min-width: 23%;
    min-height: 100%;
    border-left: 1px solid white;
}

.options h3 {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid white;
}

.options-section {
    display: grid;
    width: 100%;
    height: 100%;
}

.options button {
    padding-left: 20px;
    position: relative;
    display: inline-block;
    height: 40px;
    margin: 10px 20px;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.option-image {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 15px;
}

.content-container {
    align-self: flex-start;
    width: 77%;
    height: 100%;
    overflow: auto;
}

.content-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-container li {
    width: 95%;
    height: 80vh;
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    margin: 25px auto;
}

@media (max-width: 1800px) {
    .container {
        column-gap: 0px;
    }
    .navbar-brand {
        width: 40%;
    }
    .toolbar-image {
        width: 100px;
        height: 100px;
        border: 1px solid white;
        border-radius: 50px;
        margin: 10px auto;
    }
    
    .toolbar a {
        text-align: center;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        margin: 10px auto;
    }
}

@media (max-width: 1400px) {
    .container {
        column-gap: 0px;
    }
    .navbar-brand {
        width: 100%;
    }
    .searchbar {
        width: 40%;
    }
    .spacer {
        width: 30vh;
    }
    .toolbar-button {
        width: 80%;
    }
    .logout-button {
        width: 80%;
    }
    .toolbar-image {
        width: 100px;
        height: 100px;
        border: 1px solid white;
        border-radius: 50px;
        margin: 10px auto;
    }
    
    .toolbar a {
        text-align: center;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        margin: 10px auto;
    }
}

@media (max-width: 1200px) {

    html, body {
        overflow-y: auto;
    }

    .container {
        display: grid;
    }
    .navbar {
        display: grid;
        align-items: center;
    }

    .navbar-brand {
        width: auto;
    }

    .navbar-brand a {
        align-self: auto;
    }

    .navbar a {
        margin: 10px auto;
        text-align: center;
    }
    .searchbar {
        width: auto;
        margin: 10px;
    }
    .toolbar {
        height: auto;
        min-height: auto;
    }
    .user-image {
        width: 0;
        height: 0;
        border: none;
    }
    .content {
        margin: 25px auto;
        width: 100%;
        height: auto;
    }
    .spacer {
        min-height: 0;
    }

    .container {
        display: grid;
    }

    .content {
        display: grid;
    }

    .toolbar {
        width: 100%;
    }

    .content-container {
        width: 100%;
        height: 50vh;
    }

    .options {
        margin-top: 0px;
        padding-top: 10px;
        border-top: 1px solid white;
    }

    .content-container li {
        width: 95%;
        height: 45vh;
    }

    .options h3 {
        margin-top: 0;
    }

    .toolbar-button {
        width: auto;
    }

    .logout-button {
        width: auto;
    }

    .toolbar-image {
        width: 100px;
        height: 100px;
        border: 1px solid white;
        border-radius: 50px;
        margin: 10px auto;
    }
    
    .toolbar a {
        text-align: center;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        margin: 10px auto;
    }

}